body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

main {
    margin-left: 1%;
}

ul#ul-white {
    list-style-type: circle;
}

ul#ul-square {
    list-style-type: square;
}

ol#ol-roman {
    list-style-type: upper-roman;
}

ol#ol-alpha {
    list-style-type: lower-alpha;
}

ul#ul-img {
    list-style-image: url('img/check.png');
}